<nav class="navbar bg-light">
    <div class="container-fluid">
      <form class="d-flex" role="search">
        <a class="form-control me-2" routerLink='/signin'>Sign In</a>
        <a class="form-control me-2" routerLink='/signup'>Sign Up</a>
      </form>
      
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
